black==23.7.0
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
idna==3.4
mypy-extensions==1.0.0
packaging==23.1
paho-mqtt==1.6.1
pathspec==0.11.1
platformdirs==3.9.1
pycryptodome==3.18.0
requests==2.31.0
-e git+https://github.com/uzlonewolf/tinytuya.git@a845051cf66d68c8e897b31c80c7916dab0f05ab#egg=tinytuya
tomli==2.0.1
typing-extensions==4.7.1
urllib3==2.0.4
